body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fee8b7;
}

#content-container {
  text-align: center;
}

#search-container {
  margin-bottom: 20px;
}

#pokemon-info {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-family: 'Lobster'
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px 0;
}

span {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Make the container full height of the viewport */
}

/* buttons */
#home-button {
  background-color: skyblue;
  border-radius: 10px;
  border: none;
  margin: 15px;
  height: 30px;
  cursor: pointer;
}

#home-button:hover {
  background-color: rgb(26, 119, 161);
  color: white;
}

#search-button {
  background-color: skyblue;
  border-radius: 10px;
  border: none;
  width: 60px;
  height: 20px;
  cursor: pointer;
}

#search-button:hover {
  background-color: rgb(26, 119, 161);
  color: white;
}

#favorite-button {
  background-color: skyblue;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

#favorite-button:hover {
  background-color: rgb(26, 119, 161);
  color: white;
}

#add-favorite-button {
  background-color: skyblue;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

#add-favorite-button:hover {
  background-color: rgb(26, 119, 161);
  color: white;
}

.remove-button {
  background-color: skyblue;
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 30px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: rgb(26, 119, 161);
  color: white;
}

/* pokemon cards for favorite page */
.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  width: 200px;
  background-color: #e6fbff;
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
}

#favorites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}